.catalog {
    display: flex;
    position: relative;
    justify-content: space-between;
    &__menu {
        flex-basis: 19%;
        @media (max-width: 1023px) {
            display: none;
        }
    }
    &-content {
        flex-basis: 79%;
        display: flex;
        flex-direction: column;
        @media (max-width: 1023px) {
            flex-basis: 100%;
        }
        &-items {
            display: flex;
            flex-wrap: wrap;
            height: 100%;
            justify-content: space-between;
        }
        &-pagination {
            display: flex;
            justify-content: space-between;
        }
        &__item {
            margin-bottom: 15px;
        }
    }

    &-header {
        &__inner {
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    
        &__search, &-btn, &__logo, &__btn-filter {
            margin-right: 10px;
        }
    
        &__logo {
            position: relative;
            top: 2px;
        }
    
        &__auth {
            margin-left: 10px;
        }
    
    }

    &-pagination__btn {
        display: flex;
        align-items: center;
        & span {
            margin-right: 3px;
        }
        & .more {
            color: $theme;
        }
    }
}
