.catalog {
    display: flex;
    position: relative;
    justify-content: space-between;
    &_panelOpen {
        left: 80px;
    }
    &__menu {
        flex-basis: 19%;
    }
    &-content {
        flex-basis: 79%;
        display: flex;
        min-height: 400px;
        flex-direction: column;
        &-items {
            display: flex;
            flex-wrap: wrap;
            height: 100%;
            justify-content: space-between;
        }
        &-pagination {
            display: flex;
            justify-content: space-between;
        }
        &__item {
            margin-bottom: 15px;
        }
    }
}