.collector {
    margin: 0 auto;
    width: 100%;
    &_open {
        display: block;
        animation: open .5s ease-in normal forwards;
    }

    &_close {
        animation: close .5s alternate forwards;
    }

    &__inner {
        margin-bottom: 20px;
        width: 100%;
        padding: 10px;
        // box-shadow: 0 2px 3px silver;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        align-items: center;
        flex-basis: 49%;
        padding: 5px 10px;
        color: gray;
        min-height: 70px;
        margin-bottom: 8px;
        background: transparent;
        border-radius: 8px;
        border: 1px dashed gray;
        &_active {
            color: #222;
            border: 2px solid $light;
            background: #fff;
            align-items: center;
        }

        img {
            width: 70px;
            height: auto;
            margin-right: 10px;
        }
    }

    &__btn-del {
        margin-left: auto;
        color: $theme;
        span {
            font-size: 28px;
        }
    }

    @keyframes open {
        0% {
            opacity: 0;
            height: 0%;
        }
        100% {
            opacity: 1;
            height: 100%;
        }
    }
    @keyframes close {
        0% {
            opacity: 1;
            height: 100%;
        }
        100% {
            opacity: 0;
            height: 0%;
        }
    }
}

