.field {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    position: relative;
    &__title {
        font-size: 14px;
        cursor: text;
        transition: all .25s;
    }
    &__input {
        padding: 8px 12px;
        outline: none;
    }
    &__error {
        color: #ff3131;
        font-size: 14px;
        margin: 1px 0;
        display: none;
    }
    .error {
        display: block;
    }
    &.rounded {
        .field__title {
            position: absolute;
            transform: translateY(-50%);
            top: 0%;
            color: $theme;
            left: 10px;
            background: #fff;
            padding: 0 3px;
            z-index: 1;
        }
        .field__input {
            border: 1px solid $theme;
            border-radius: 10px;
            &::placeholder {
                opacity: 0;
            }
            &:focus {
                box-shadow: 0 0 5px $theme;
            }
        }
    }
    &.line {
        margin-top: 8px;
        .field__title {
            display: none;
        }
        .field__input {
            padding: 8px 2px;
            border: none;
            border-bottom: 1px solid $theme;
            &::placeholder {
                color: $theme;
            }
        }
    }
}