$theme: #2196F3;
$shadow: #6dc0ff;
$light: #90CBF9;
$clearBackground: rgba(33, 150, 243, 0.88);
$error: #ff3131;
$container: 1170px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #222;
    font-family: 'Roboto', sans-serif;
    background: rgb(245, 245, 245);
    overflow-y: scroll;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.page {
    position: relative;

    &__header {
        margin: 5px
    }

    &_left {
        animation: pageLeft .2s alternate ease-in forwards;
    }

    &_normal {
        animation: pageNormal.2s alternate ease-in forwards;
    }
}

.container {
    width: $container;
    margin: 0 auto;
    @media (max-width: $container) {
        padding: 0 15px;
        width: 100%;
    }
}

@keyframes pageLeft {
    0% {
        left: 0
    }
    100% {
        left: 150px
    }
}

@keyframes pageNormal {
    0% {
        left: 150px
    }
    100% {
        left: 0
    }
}

@media (max-width: 1440px) {
    @keyframes pageLeft {
        0% {
            left: 0
        }
        100% {
            left: 300px
        }
    }
    @keyframes pageNormal {
        0% {
            left: 300px
        }
        100% {
            left: 0
        }
    }
}

