.menu {
    align-self: flex-start;
    position: sticky;
    top: 0;
    &__link {
        width: 100%;
        padding: 10px;
        margin-bottom: 4px;
        border-radius: 8px;
        display: inline-block;
        box-shadow: 0 0 10px $shadow;
        color: $theme;
        &_active {
            background: $theme;
            color: #fff;
        }
    }
}
