@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  color: #222;
  font-family: 'Roboto', sans-serif;
  background: whitesmoke; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

.page {
  position: relative; }
  .page__header {
    margin: 5px; }
  .page_left {
    -webkit-animation: pageLeft .2s alternate ease-in forwards;
            animation: pageLeft .2s alternate ease-in forwards; }
  .page_normal {
    -webkit-animation: pageNormal 0.2s alternate ease-in forwards;
            animation: pageNormal 0.2s alternate ease-in forwards; }

.container {
  width: 1170px;
  margin: 0 auto; }
  @media (max-width: 1170px) {
    .container {
      padding: 0 15px;
      width: 100%; } }

@-webkit-keyframes pageLeft {
  0% {
    left: 0; }
  100% {
    left: 150px; } }

@keyframes pageLeft {
  0% {
    left: 0; }
  100% {
    left: 150px; } }

@-webkit-keyframes pageNormal {
  0% {
    left: 150px; }
  100% {
    left: 0; } }

@keyframes pageNormal {
  0% {
    left: 150px; }
  100% {
    left: 0; } }

@media (max-width: 1440px) {
  @-webkit-keyframes pageLeft {
    0% {
      left: 0; }
    100% {
      left: 300px; } }
  @keyframes pageLeft {
    0% {
      left: 0; }
    100% {
      left: 300px; } }
  @-webkit-keyframes pageNormal {
    0% {
      left: 300px; }
    100% {
      left: 0; } }
  @keyframes pageNormal {
    0% {
      left: 300px; }
    100% {
      left: 0; } } }

.button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  -webkit-transition: opacity .2s;
  transition: opacity .2s; }
  .button:hover {
    opacity: .77; }
  .button_icon {
    background-color: #2196F3;
    color: #fff;
    padding: 0 10px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 8px;
    -webkit-box-shadow: 0px 3px 0px #90CBF9;
            box-shadow: 0px 3px 0px #90CBF9; }
    .button_icon span {
      padding-right: 6px; }
  .button_exit, .button_auth {
    color: #2196F3; }
    .button_exit .auth-icon, .button_auth .auth-icon {
      font-size: 30px; }

.field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-bottom: 15px; }
  .field__title {
    font-size: 14px;
    cursor: text;
    -webkit-transition: all .25s;
    transition: all .25s; }
  .field__input {
    padding: 8px 12px;
    outline: none; }
  .field__error {
    color: #ff3131;
    font-size: 14px;
    margin: 1px 0;
    display: none; }
  .field .error {
    display: block; }
  .field.rounded .field__title {
    position: absolute;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    top: 0%;
    color: #2196F3;
    left: 10px;
    background: #fff;
    padding: 0 3px;
    z-index: 1; }
  .field.rounded .field__input {
    border: 1px solid #2196F3;
    border-radius: 10px; }
    .field.rounded .field__input::-webkit-input-placeholder {
      opacity: 0; }
    .field.rounded .field__input::-moz-placeholder {
      opacity: 0; }
    .field.rounded .field__input:-ms-input-placeholder {
      opacity: 0; }
    .field.rounded .field__input::-ms-input-placeholder {
      opacity: 0; }
    .field.rounded .field__input::placeholder {
      opacity: 0; }
    .field.rounded .field__input:focus {
      -webkit-box-shadow: 0 0 5px #2196F3;
              box-shadow: 0 0 5px #2196F3; }
  .field.line {
    margin-top: 8px; }
    .field.line .field__title {
      display: none; }
    .field.line .field__input {
      padding: 8px 2px;
      border: none;
      border-bottom: 1px solid #2196F3; }
      .field.line .field__input::-webkit-input-placeholder {
        color: #2196F3; }
      .field.line .field__input::-moz-placeholder {
        color: #2196F3; }
      .field.line .field__input:-ms-input-placeholder {
        color: #2196F3; }
      .field.line .field__input::-ms-input-placeholder {
        color: #2196F3; }
      .field.line .field__input::placeholder {
        color: #2196F3; }

.upload-file__input {
  opacity: 0;
  position: absolute;
  z-index: -1;
  overflow: hidden;
  width: 0.4px;
  height: 0.4px; }

.upload-file__text {
  color: #2196F3;
  -webkit-transition: .25s ease;
  transition: .25s ease; }
  .upload-file__text:hover {
    color: silver; }

.upload-file .error {
  color: #ff3131; }

.upload-file__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  border: 2px dashed #2196F3;
  padding: 9px 49px;
  border-radius: 10px;
  cursor: pointer;
  margin: 8px 0; }
  .upload-file__label:hover {
    border: 2px dashed silver; }

.upload-file__icon {
  width: 30px;
  height: auto;
  margin-right: 11px;
  width: 30px; }

.select {
  padding: 8px 5px;
  border-radius: 10px;
  outline: none;
  border: none;
  -webkit-box-shadow: 0 0 5px #a8a8a8;
          box-shadow: 0 0 5px #a8a8a8;
  cursor: pointer; }

.auth {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(33, 150, 243, 0.88);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }
  .auth__form {
    width: 280px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    -webkit-box-shadow: 5px 5px 2px silver;
            box-shadow: 5px 5px 2px silver;
    position: relative;
    cursor: auto; }
  .auth__close {
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
    position: absolute;
    right: 4px;
    top: 4px;
    color: #2196F3;
    font-size: 14px; }
  .auth__error {
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
    color: #ff3131; }
  .auth__title {
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #2196F3; }
    .auth__title .auth-icon {
      margin-right: 5px; }
  .auth__buttons {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .auth__buttons button {
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
      height: 25px;
      border: 1px solid #2196F3;
      color: #2196F3; }
    .auth__buttons > button.active {
      color: #fff;
      background: #2196F3;
      -webkit-box-shadow: 2px 0 5px #2196F3;
              box-shadow: 2px 0 5px #2196F3; }
  .auth__btn-auth {
    border-radius: 10px 0 0 10px; }
  .auth__btn-reg {
    border-radius: 0 10px 10px 0; }

.admin-panel {
  position: fixed;
  z-index: 777; }
  .admin-panel_active .admin-panel__inner {
    -webkit-animation: adminOpen 400ms alternate ease-in forwards;
            animation: adminOpen 400ms alternate ease-in forwards; }
  .admin-panel_close .admin-panel__inner {
    -webkit-animation: adminClose 400ms alternate ease-out forwards;
            animation: adminClose 400ms alternate ease-out forwards; }
  .admin-panel__open {
    font-size: 16px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    color: #fff;
    -webkit-box-shadow: 2px 2px 20px #2196F3;
            box-shadow: 2px 2px 20px #2196F3;
    position: absolute;
    z-index: 99;
    width: 28px;
    background: #2196F3;
    height: 50px;
    right: -28px;
    border-radius: 0 25px 25px 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: opacity .3s;
    transition: opacity .3s; }
    .admin-panel__open:hover {
      opacity: .85; }
  .admin-panel__inner {
    -webkit-box-shadow: 0 2px 5px silver;
            box-shadow: 0 2px 5px silver;
    background: #fff;
    border-radius: 0 0 18px 18px;
    margin-bottom: 10px;
    width: 300px;
    padding: 10px;
    position: absolute;
    left: -300px;
    -webkit-transition: all .3s;
    transition: all .3s;
    top: 0; }
  .admin-panel .form-add-component {
    width: 100%; }
    .admin-panel .form-add-component__form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .admin-panel .form-add-component__form input:last-child {
        margin-bottom: 12px; }
    .admin-panel .form-add-component__btn {
      width: 100%;
      height: 30px;
      border-radius: 8px;
      color: #fff;
      background: #2196F3;
      -webkit-box-shadow: 2px 2px 2px #6dc0ff;
              box-shadow: 2px 2px 2px #6dc0ff; }
    .admin-panel .form-add-component select {
      margin-bottom: 20px; }

@-webkit-keyframes adminOpen {
  0% {
    left: -300px; }
  100% {
    left: 0; } }

@keyframes adminOpen {
  0% {
    left: -300px; }
  100% {
    left: 0; } }

@-webkit-keyframes adminClose {
  0% {
    left: 0; }
  100% {
    left: -300px; } }

@keyframes adminClose {
  0% {
    left: 0; }
  100% {
    left: -300px; } }

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.logo__img {
  width: 180px; }

.menu {
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: -webkit-sticky;
  position: sticky;
  top: 0; }
  .menu__icon {
    margin-right: 5px;
    width: 28px;
    height: 28px;
    -webkit-filter: contrast(1);
            filter: contrast(1); }
  .menu__link {
    width: 100%;
    padding: 10px;
    margin-bottom: 4px;
    border-radius: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0 0 10px #6dc0ff;
            box-shadow: 0 0 10px #6dc0ff;
    font-size: 16px;
    color: #2196F3; }
    .menu__link_active {
      background: #2196F3;
      color: #fff; }
      .menu__link_active > img {
        -webkit-filter: contrast(10);
                filter: contrast(10); }

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 32px;
  width: 100%;
  border-radius: 8px;
  border: none;
  position: relative; }
  .search__input, .search__btn {
    border: inherit;
    outline: none; }
  .search__input {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    border: 2px solid #90CBF9;
    padding: 0 35px 0 10px;
    -webkit-box-shadow: 1px 1px 0px #90CBF9;
            box-shadow: 1px 1px 0px #90CBF9;
    color: #2196F3;
    font-weight: bold; }
    .search__input::-webkit-input-placeholder {
      font-weight: normal;
      color: #2196F3; }
    .search__input::-moz-placeholder {
      font-weight: normal;
      color: #2196F3; }
    .search__input:-ms-input-placeholder {
      font-weight: normal;
      color: #2196F3; }
    .search__input::-ms-input-placeholder {
      font-weight: normal;
      color: #2196F3; }
    .search__input::placeholder {
      font-weight: normal;
      color: #2196F3; }
    .search__input:focus {
      -webkit-box-shadow: 1px 1px 10px #90CBF9;
              box-shadow: 1px 1px 10px #90CBF9; }
  .search__btn {
    border-radius: 0 8px 8px 20px;
    right: 0;
    width: 30px;
    height: inherit;
    background: #90CBF9;
    position: absolute;
    -webkit-transition: .2s;
    transition: .2s; }
    .search__btn:hover {
      cursor: pointer;
      opacity: .7; }
  .search__icon {
    color: #fff; }

.collector-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }
  .collector-btn__count {
    position: absolute;
    padding-right: 0 !important;
    right: 4px;
    top: 2px;
    -webkit-box-shadow: 0 0px 5px #2196F3;
            box-shadow: 0 0px 5px #2196F3;
    width: 15px;
    height: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 10px;
    font-size: 15px;
    color: #2196F3;
    background: #fff;
    font-weight: bold; }

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .catalog__menu {
    -ms-flex-preferred-size: 19%;
        flex-basis: 19%; }
    @media (max-width: 1023px) {
      .catalog__menu {
        display: none; } }
  .catalog-content {
    -ms-flex-preferred-size: 79%;
        flex-basis: 79%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media (max-width: 1023px) {
      .catalog-content {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; } }
    .catalog-content-items {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      height: 100%;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .catalog-content-pagination {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .catalog-content__item {
      margin-bottom: 15px; }
  .catalog-header__inner {
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .catalog-header__search, .catalog-header-btn, .catalog-header__logo, .catalog-header__btn-filter {
    margin-right: 10px; }
  .catalog-header__logo {
    position: relative;
    top: 2px; }
  .catalog-header__auth, .catalog-header__user {
    margin-left: 10px; }
  .catalog-header__user {
    font-weight: 300; }
  .catalog-pagination__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .catalog-pagination__btn span {
      margin-right: 3px; }
    .catalog-pagination__btn .more {
      color: #2196F3; }

.card {
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  -webkit-box-shadow: 0 3px 5px #d4d4d4;
          box-shadow: 0 3px 5px #d4d4d4;
  border-radius: 8px;
  padding: 15px 8px;
  height: 180px;
  position: relative; }
  @media (max-width: 833px) {
    .card {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%; } }
  .card__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-left: 10px;
    width: 60%; }
  .card__title {
    margin-bottom: 5px; }
  .card__price {
    position: absolute;
    right: 25px;
    bottom: 10px;
    font-weight: bold;
    color: #8b8b8b; }
    @media (max-width: 425px) {
      .card__price {
        position: relative;
        bottom: 0;
        right: 0;
        margin-top: 6px; } }
  .card__props {
    display: none;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    background: #fff;
    width: 70%;
    -webkit-box-shadow: 0px 0px 3px #2196F3;
            box-shadow: 0px 0px 3px #2196F3;
    height: 90%;
    padding: 5px;
    border-radius: 8px;
    overflow: auto; }
    .card__props-inner {
      position: relative;
      padding: 3px; }
    .card__props-close {
      position: absolute;
      right: 6px;
      top: 5px;
      color: #2196F3;
      width: 20px;
      height: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      border-radius: 3px;
      border: 2px solid #2196F3; }
      .card__props-close:hover {
        opacity: .5; }
  @media (max-width: 425px) {
    .card__preview-props .card__prop {
      display: none; } }
  .card__prop {
    margin: 5px 0; }
  .card__btn-box {
    margin: 0 20px 0 auto;
    -ms-flex-item-align: center;
        align-self: center;
    background: #2196F3;
    width: 35px;
    height: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 25px;
    position: relative;
    -webkit-box-shadow: 0 0px 5px #2196F3;
            box-shadow: 0 0px 5px #2196F3; }
    @media (max-width: 425px) {
      .card__btn-box {
        margin: 0 5px 0 0;
        position: absolute;
        right: 0; } }
  .card__del {
    display: none;
    -ms-flex-item-align: center;
        align-self: center;
    color: #ff695f; }
    @media (max-width: 425px) {
      .card__del {
        position: absolute;
        right: 0;
        top: -5px; } }
  .card__changePrice {
    display: none;
    width: 75px;
    padding: 2px;
    border: 1px solid #2196F3;
    -webkit-box-shadow: 0 1px 1px #2196F3;
            box-shadow: 0 1px 1px #2196F3;
    border-radius: 3px; }
    .card__changePrice:focus {
      outline: none;
      -webkit-box-shadow: 0 0px 5px #2196F3;
              box-shadow: 0 0px 5px #2196F3; }
  .card__btn-more {
    color: #2196F3;
    font-size: 14px;
    height: 22px;
    margin-top: 5px;
    border: 1px solid #2196F3;
    padding: 0 5px;
    border-radius: 8px; }
    .card__btn-more:hover {
      border: 1px solid #fff; }


/*# sourceMappingURL=style.css.map*/